/*ADDED 06-11-2018*/
.bold {
	font-weight: bold;
}

.message {
	display: inline-block;
	color: red;
}
/*ADDED 06-11-2018*/

/*ADDED ON 06-06-2018*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
	border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*ADDED ON 06-06-2018*/

/*ADDED ON 06-03-2018*/
.leftForm {
	float: left;
}
.rightForm {
	float: right;
	margin-right: 40px;
}
#downPaymentButton {
	float: right;
}
/*ADDED ON 06-03-2018*/

/*ADDED ON 05-29-2018*/
#houseAppDiv {
	overflow: auto;
}

.label {
	display: inline-block;
}

td input {
	width: 90%;
}
/*ADDED ON 05-29-2018*/

table {
    border-collapse: collapse;
    text-align: right;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
  font-weight: bold;
  text-align: center;
}

.addressCell {
  text-align: left;
}

table {
  min-width: 50%;
}

table, h1, button, p {
	margin: 20px;
}

h1 {
  text-align: center;
}

#add {
  width: 500px;
}
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, header, menu, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
} 
*/
/*************************************************************
LANDING PAGE
**************************************************************/
ul {
 list-style-type: none;
}

html {
	overflow-x:hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
	margin:0;padding:0;
  background-color: #FAF8F8;
  color: #4B4848;
}
#fake {
  background-color: #17EAD9;
  color: #6078EA;
}

h1 {
  font-size: 3em;
  letter-spacing: 5px;
}

header{
	text-align: center;
}

#monitor {
	 margin-left: 30%;
	 margin-top: 10px;
  position: relative;
}
.screenShot {
  position: absolute;
  height: 75.5%;
  max-width: 84.5%;
  top: 50%;
  left: 50%;
  transform: translate(-53.3%, -46.8%);
  border-radius: 4px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.cover {
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  height: 75.4%;
  width: 84.6%;
  top: 50%;
  left: 50%;
  transform: translate(-53.3%, -57.4%);
  border-radius: 4px;
  background-color: rgba(0,0,0,.75);
  color: white;
  cursor: pointer;
}
.cover h1 {
	text-align: center;
	font-size: 2.5em;
	margin-top: 5%;
	margin-bottom: 10%;
}
.cover h2 {
	text-align: center;
	margin-bottom: 5%;
	font-size: 2em;
}
.learn {
	margin-left: auto;
	margin-right: auto;
	background-color: #17EAD9;
	font-weight: bold;
	border: 2px solid #17EAD9;
	padding: 8px;
	cursor: pointer;
	border-radius: 4px;
	max-width: 40%;
}
#monitor img{
  width: 95%;
  margin-top: -5%;
}

video#bgvid { 
    position: fixed;
    top: 67%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: transparent url('back1.jpg') 50% 50% / cover no-repeat ;
    background-size: cover; 
}

#carouselDots {
	position: absolute;
  top: 73%;
  left: 47.6%;
  transform: translate(-53.3%, -60%);
}

#dots {
  list-style:none;
  padding:0px;
  margin-bottom: 8px;

}
#dots li {
  display:inline-block;
  border-radius:10px;
  width:10px;
  height:10px;
  margin: 0 5px;
  border:2px solid #6078EA;
  background: #17EAD9;
  cursor:pointer;
}
#dots li.active {
  background:#6078EA;
}
/*************************************************************
PROJECTS PAGE
**************************************************************/
menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

menu ul a li {
    float: left;
	border-right: solid 2px #17EAD9;
}

a li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
	width: 33%;
	border-right: solid 2px #17EAD9;
}
.last {
	border-right: none;
}
#projects h1 {
	padding: 15px 0;
}
#projects p {
	line-height: 1.4;
	padding: 25px;
	font-family: 'Raleway', sans-serif;
}
#projects p::first-letter {
	font-size: 175%;
}
#projects h2 {
	padding: 5px;
	font-size: 2em;
}
.padded {
	padding: 25px;
}
.link {
	background-color: #17EAD9;
	text-decoration: none;
	cursor: pointer;
	font-size:1.4em;
	color: white;
	border-radius: 6px;
	margin-left: 25px;
	margin-top: 25px;
}
.link:hover {
	background-color: #32bac1;
}
.link:active {
	background-color: #58ffff;
}
.left {
	float: left;
	width: 40%;
	margin-right: 2.5%;
}
.right {
	float: right;
	width: 55%;
	margin-left: 2.5%;
}

.projScreen {
	max-width: 95%;
	margin: 15px;
}
.clearFix {
	clear: both;
}
#screenShots {
	width: 100%;
	background-color: #333;
	margin-top: 0;
}
#screenShots img {
	max-width: 18%;
	display: inline-block;
	cursor: pointer;
	margin: 5px 5px;
	border: 1px solid white;
}
.container {
	text-align: center;
}
.fs {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
}
.fsImage {
	max-width: 90%;
	max-height: 90%;
	left: 50%;
    transform: translate(-50%, 5%);
	position: fixed;
	display: none;
}
.handwriting {
	font-family: 'Gloria Hallelujah', cursive;
}

/************************************************
NEW FOR LANDING
**************************************************/

article {
  
font-family: 'Gloria Hallelujah', cursive;

font-family: 'Oswald', sans-serif;

font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
}

nav h2 {
  display: inline-block;
  float: left;
  margin-left: 8px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 13px;
}
nav h2:hover {
  color: white;
}

nav {
  font-family: 'Montserrat', sans-serif;
  background-color: #3E474A;
  color: #3FE9F2;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 56px;
  
}
.menuLink {
  text-decoration: none;
  color: #3FE9F2;
}
.menuLink:hover {
  color: white;
}
nav ul li {
  display: inline;
  font-size: 18px;
  float: right;
  margin: 16px 18px;
  position: relative;
  z-index: 5;
}

.main {
  padding: 56px 25%;
}
.main p {
  padding: 15px 0;
  font-family: 'Raleway', sans-serif;
}

#mobileLanding {
	display: none;
}
#mobileLanding a {
	text-decoration: none;
	color: #4B4848;
}

/****************************************
New on May 28
****************************************/

#menuLogo {
	display: none;	
}

#menuLogo:hover {
	color: white;
}

#name {
	color: #3FE9F2;
}

#techList {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#techList h2 {
	margin-top: 45px;
}
#headShot2 {
	max-width: 80%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
    display: block;
	margin-top: 25px;
  }
  .regLink {
	  cursor: pointer;
	  color: #3FE9F2;
	  text-decoration: none;
	  font-weight: bold;
  }
  .projTitle {
	  margin: 2%;
	  font-size: 2em;
	  text-align: center;
	  letter-spacing: 1px;
	  font-family: 'Oswald', sans-serif;
  }
  
/*********************************************
New on May 29
**********************************************/
.parallax-window {
    min-height: 260px;
    background: transparent;
	width: 100%;
}
.parallax-container {
	min-height: 400px;
    background: transparent;
	width: 100%;
}
.parallax-mirror {
    z-index:1;
}
.para {
	margin: 5%;
}
.para img {
	max-height: 100%;
	width: 100%;
}

.link2 {
	text-decoration: none;
	color: #4B4848;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
    cursor: pointer;    
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.2) rotate(5deg);
  transform: scale(1.2) rotate(5deg);
}

@media screen and (max-width: 780px) {
  nav h2 {
    display: none !important;
  }
  .table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
  nav ul li {
    display: inline;
	margin: 16px 6px;
  }
  #menuLogo {
	  display: inline;
	  float: left;
	  margin: 12px;
  }
  .projScreen {
	  display: none;
  }
  #screenShots img {
	  max-width: 80%
  }
  #monitor {
	  display: none;
  }
  #mobileLanding {
	  display: block;
  }
  #headShot {
	max-width: 80%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
    display: block;
	margin-top: 25px;
  }
  .tagline {
	  margin: 10% 10%;
	  font-size: 2em;
	  text-align: center;
	  letter-spacing: 1px;
	  font-family: 'Oswald', sans-serif;
  }
  .hideMobile {
          display: none !important;
  }
}


@media screen and (max-width: 980px) {
	.right {
		display: none;
	}
	.left {
		width: 80%;
		margin: 0 10%;
	}
	.link {
		font-size: 1em;
	}
}

@media screen and (max-width: 1290px) {
  video#bgvid {
	  display: none;
  }
  #videoWrap {
	  display: none;
  }
  #monitor {
	  margin-left: 2.5%;
  }
}
























